:root {
	--blue: #0077f7;
}

.currentPlace {
	width: 15px;
	height: 15px;
	border: 1px solid white;
	border-radius: 50%;
	background-color: var(--blue);
	box-shadow: 0px 0px 15px 6px var(--blue);
	position: relative;
	top: -20px;
	left: -4px;
}
