:root {
	--darkBlue: #00438b;
	--lightBlue: #0077f7;
}

.currentPlace {
	width: 15px;
	height: 15px;
	border: 1px solid white;
	border-radius: 50%;
	background-color: var(--darkBlue);
	box-shadow: 0px 0px 15px 6px var(--darkBlue);
	position: relative;
	top: -20px;
	left: -4px;
	animation: blinking 2500ms infinite;
}

@keyframes blinking {
	0% {
		background-color: var(--darkBlue);
		box-shadow: 0px 0px 15px 6px var(--darkBlue);
	}
	50% {
		background-color: var(--lightBlue);
		box-shadow: 0px 0px 15px 6px var(--lightBlue);
	}
	100% {
		background-color: var(--darkBlue);
		box-shadow: 0px 0px 15px 6px var(--darkBlue);
	}
}
