.marker {
	font-size: 20px;
	height: 30px;
	width: 30px;
	cursor: pointer;
	text-align: center;
	background-image: url("images/marker.svg");
	background-repeat: no-repeat;
	background-size: 30px 30px;
	position: relative;
	top: -30px;
	left: -14px;
}

.targeted-marker {
	font-size: 20px;
	height: 30px;
	width: 30px;
	cursor: pointer;
	text-align: center;
	background-image: url("images/marker2.svg");
	background-repeat: no-repeat;
	background-size: 30px 30px;
	position: relative;
	top: -30px;
	left: -14px;
	z-index: 1;
}

.marker .name {
	display: none;
}

.marker:hover {
	background-image: url("images/marker2.svg");
	z-index: 1;
}

.hvr-grow {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
