.marker {
	font-size: 20px;
	height: 30px;
	width: 30px;
	cursor: pointer;
	text-align: center;
	background-image: url("images/marker.svg");
	background-repeat: no-repeat;
	background-size: 30px 30px;
	position: relative;
	top: -30px;
	left: -14px;
}

.targeted-marker {
	font-size: 20px;
	height: 30px;
	width: 30px;
	cursor: pointer;
	text-align: center;
	background-image: url("images/marker2.svg");
	background-repeat: no-repeat;
	background-size: 30px 30px;
	position: relative;
	top: -30px;
	left: -14px;
}

/* TODO */
/* .marker:hover {
	height: 40px;
	width: 40px;
	background-size: 40px 40px;
}
 */
