:root{
	--shadowColor: gray;
}

.card {
	box-shadow: 2px 3px 5px var(--shadowColor);
	border: none;
	border-radius: 0;
	background-color: var(--restaurantBackColor);
}

.card:hover {
	background-color: rgb(238, 238, 238);
	box-shadow: none;
	/* box-shadow: 2px 3px 15px 2px var(--shadowColor); */
}

.restaurant-name:hover {
	cursor: pointer;
}

.no-pointer .dv-star-rating-star {
	cursor: default !important;
}
