/* form {
	background-color: var(--filterBackColor);
} */

/* .fa-plus,
.fa-minus {
	cursor: pointer;
} */

.fa-plus:hover,
.fa-minus:hover,
.fa-search:hover {
	color: var(--icon);
	cursor: pointer;
}
