:root {
	--icon: #ffb400;
	--restaurantBackColor: #ffffff;
	--filterBackColor: #0077f7;
}

.restaurants-list-container {
	height: 100vh;
	overflow: scroll;
	background-color: var(--restaurantBackColor);
}

.bg-primary {
	background-color: var(--filterBackColor) !important;
}

.card-form {
	background-color: var(--filterBackColor);
	box-shadow: none;
}

.card-form:hover {
	background-color: var(--filterBackColor);
	box-shadow: none;
}

.btn-form {
	background-color: #ffb400;
}

.fa-sort-amount-down {
	color: var(--icon);
}

.fa-sort-amount-up {
	color: var(--icon);
}

.fa-star {
	color: var(--icon);
}

@media only screen and (max-width: 991px) {
	.restaurants-list-container {
		height: 50vh;
	}
}
