.card-body,
.img-container,
#newComment,
[name="authorComment"],
.card-header {
	background-color: var(--headerBackColor);
	color: var(--textColor);
}

.div-collapse:hover {
	background-color: var(--restaurantBackColor);
}

.targeted-restaurant {
	display: flex;
	flex-direction: column;
}

.btn-image {
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 55px;
	height: 35px;
}

.btn-image:hover {
	box-shadow: none;
}

.hvr-shrink {
	display: inline-block;
	vertical-align: middle;
	border: none;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 2px 3px 5px #383838;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}
.hvr-shrink:hover,
.hvr-shrink:focus,
.hvr-shrink:active {
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
}

textarea,
[name="authorComment"] {
	border: none;
	box-shadow: 0px 0px 5px 0px var(--textColor);
}

textarea:focus,
[name="authorComment"]:focus {
	box-shadow: 0px 0px 3px 0px var(--headerTextColor);
}

.carousel-item {
	height: 200px;
}

.fa-arrow-left {
	color: var(--headerTextColor);
}

.btn-primary {
	background-color: var(--restaurantBackColor);
	color: var(--headerTextColor);
}

.btn-primary:hover {
	background-color: var(--headerTextColor);
	color: var(--restaurantBackColor);
}

.btn-link {
	color: var(--headerTextColor);
}

.btn-link:hover {
	color: var(--headerTextColor);
	text-decoration: none;
}

.group-review {
	background-color: var(--restaurantBackColor);
	padding: 15px;
	border-radius: 10px;
	margin-bottom: 5px;
}

.profil {
	max-height: 50px;
}

a {
	color: var(--textColor);
}
a:hover {
	color: var(--headerTextColor);
}

.div-collapse {
	cursor: pointer;
}
