* {
	box-sizing: border-box;
}

:root {
	/* --icon: #ffd892; */
	--icon: #ffb400;
	--restaurantContainerBackColor: #303030;
	--restaurantBackColor: #303030;
	--shadowColor: #242424;
	--headerBackColor: #242424;
	--headerTextColor: #93c991;
	--textColor: #eefdee;
	--redColor: #ff4242;
}

.btn-primary {
	border: none;
}
